<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Bootstrap core CSS -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
 
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%= render "shared/header"%>

  <main class="px-3">
    <h1><%= "#{@correct}/#{@total}問正解！<br>結果をつぶやく".html_safe %></h1>
    
    <%= link_to image_tag('twitter.jpg', :class => "add_style"), "https://twitter.com/share?url=https://yugi-quiz.herokuapp.com/&text=遊戯王第二期カードクイズ！#{@correct}/#{@total}問正解&hashtags=遊戯王カードクイズ", title: 'Twitter', target: '_blank', class: 'add_style' %>

  </main>

<%= render "shared/footer"%>  
</div>



  </body>
</html>