<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0" >
      <%= link_to( "遊戯王カードクイズ", root_path) %>
      </h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Top</a>
        <a class="nav-link" href="#">Rank</a>
        <a class="nav-link" href="#">about</a>
        <a class="nav-link" >
        <%= link_to( "管理者", new_quiz_path) %> </a>
      </nav>
    </div>
  </header>