.lead2{
 font-size: small;
}

.float-md-start mb-0 {
  text-decoration: none;
  color: white ; 
}

li{
  list-style: none;
}

select, option{
  border:skyblue 5px inset;
}

.question{
  font-size: 25px;
}

.question {
  margin: 2em auto;
  padding: 1em;
  width: 90%; 
  background-color: #bfcbeb; 
  color: #666; 
  box-shadow: 0 0 5px 1px #c0c0c0;
  border-radius: 10px;
 }

li {
  color: #404040;
  border-left: solid 6px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

.answer{


    height: 150px;
    width: 60%;
    margin: 80px 0px 50px 0px;

}

.image{


  display: flex;
  justify-content:space-around;

}

#button{
  margin-top: 30px;
}

.float-md-start mb-0{
  text-decoration: none;
}

.add_style{
  width: 500px;
  height: 250px;
}

#header1{
  color : #808080;
  text-decoration: none;
}

#image2{
  display: none;
}

#txt{
  display: none;
}

@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__summary {
    font-size: 16px;
  }
}

 /* スマホ表示時 */
 @media (max-width: 599px) {
  .image{
    display: block;
  }
  .answer{
    margin: auto;
    margin-top: 30px;
  }
  .add_style{
    width: 80%;
  }
 }
